{% extends "::base.html.twig" %}

{% block header %}
    Liste des adhérents de la saison @@TODO@@
{% endblock header %}

{% block title %} Liste des adhérents de la saison @@TODO@@{% endblock %}
{% block body %}

    <div class="sm-12">
        <h2>Moteur de recherche</h2>
        {{ form(form) }}
    </div>
    <hr/>
    <div class="sm-12">
        <h2>Liste des utilisateurs</h2>
        {% embed '@App/Adherent/Block/liste_adherents.html.twig' with {liste_adherents: liste_adherents} only %}
        {% endembed %}
    </div>
{% endblock %}